{% extends 'base.html.twig' %}

{% block title %}GestorTickets - Ticket{% endblock %}

{% block body %}
    <h1>Crear nuevo ticket</h1>

    {{ include('ticket/_form.html.twig') }}

    <a href="{{ path('app_main') }}">Volver</a>
{% endblock %}
